.about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .main-about-heading {
        display: flex;
        justify-content: center;
        font-size: xx-large;
        font-weight: 700;
        align-items: center;
        padding: 2rem 0;
        width: 100%;
        background: radial-gradient(circle at top right,
                #236da2 5%,
                #1E3A5F 50%,
                #1E3A5F 80%,
            );
        color: #f5f5f5;

        /* subtle border */
        border: 2px solid rgba(255, 255, 255, 0.2);

        /* 🔥 blur-like soft edge */
        box-shadow:
            0 0 20px rgba(0, 0, 0, 0.2),
            inset 0 0 20px rgba(255, 255, 255, 0.1);

        span {
            margin: 0 1rem;
        }

    }

    .about-heading {
        display: flex;
        justify-content: center;
        font-size: xx-large;
        font-weight: 700;
        align-items: center;
        margin: 2rem 0;

        span {
            border-bottom: 0.25rem solid #17334f;
        }
    }

    .about-content {
        display: flex;
        justify-content: center;
        font-size: larger;
        font-weight: 500;
        width: 70%;
        align-items: center;
        margin: 1rem 0;
        flex-direction: column;
    }
}