.header{
    display: flex;
    height: 6rem;
    background-color: #00294d;
    width: 100%;
    .text{
        display: flex;
        align-items: center;
        justify-content: left;
        width: 50%;
        color: white;
        font-size: xx-large;
        margin: 0 1rem;

    }
    .tabs{
        display: flex;
        align-items: center;
        justify-content: right;
        width: 50%;
        color: white;
        font-size: large;
        .tab-item{
            margin: 0 1rem;
        }
    }
}
.footer{
    height: 20rem;
    width: 100%;
    background-color: #00294d;
}